.chat-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background: lightgrey;
    border-top: 1px solid #6c757d82
}

.chat-footer input {
    flex: 1 1;
    outline-width: 0;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
.emoji-mart-scroll{
    height: 200px !important;
}

.chat-footer form {
    flex: 1 1;
    display: flex;
}

.emoji-picker{
    position: absolute;
    top:100%
}

.emoji-mart-bar{
    display: none !important;
}

.chat-footer form img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: rotate(-90deg)
}

.chat-footer form button{
    background-color: transparent !important;
    border: none;
    width: fit-content;
    padding: 0px;
}