.message-box {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    max-width: 60%;
    margin-bottom: 8px;
    margin-right: auto;
    margin-left: 0px;
}
.active-message {
    background-color: tomato;
    margin-left: auto;
    margin-right: 0px;
}

.message-box .dropdown-menu.show {
    right: 0px !important;
    left: auto !important;
    background-color: #e6eae7 !important;
    top: 5px !important;
    transform: none !important;
}

.message-content {
    margin-bottom: 0px;
    padding: 5px 5px 0px 5px;
}

.message-time{
    justify-content: flex-end;
    display: flex;
    font-size: small;
    color: #ccc;
}

.message-box i.fa.fa-chevron-down {
    position: absolute;
    right: 0px;
    color: #ccc;
    top: -6px;
}

@media (min-width: 200px) and (max-width: 767px)  { 
    .message-box{
        width: 60% !important;
    }
    .card.ml-5.mr-5.mt-3.border-yellow{
        margin-left: 0px!important;
        margin-right: 0px !important;
    }
 }